doctype html
html
	head
	body
		if user
			h1 Welcome !{user}.
			a(href="/vieworders") View Orders
			br
			a(href="/editinfo") Edit CSA Information
			br
			a(href="/") Home
		if !user
			| Please log in
			br
			a(href="/") Home