doctype html
html
	head
	body
		if user
			h1 Welcome !{user}.
			a(href="/vieworders") View Orders
			br
			a(href="/edit_basic") Edit Basic Information
			br
			a(href="/editinfo") Edit Product Information
			br
			a(href="/edit_agreement") Edit CSA Agreement
			br
			br
			form(name="input", action="/logout", method="POST")
				input(type="submit", value="Logout")
		if !user
			| Please log in
			br
			a(href="/") Home