doctype html
html
	body
		if user
			h1 Welcome !{user}.
			p You have #{orders.length} orders
			each order in orders
				p #{order}
		if !user
			b Log in
			form(name="input", action="/login", method="POST")
				| Username
				input(type="text", name="username")
				| Password
				input(type="text", name="password")
				input(type="submit", value="Submit")
			br
			b Register
			form(name="input", action="/register", method="POST")
				| Username
				input(type="text", name="username")
				| Password
				input(type="text", name="password")
				input(type="submit", value="Submit")
		if user
			form(name="input", action="/logout", method="POST")
				input(type="submit", value="Logout")