doctype html
html
	body
		form(name="orderform",action="/placeorder",method="POST")
			| First Name
			input(type="text", name="firstname")
			| Last Name
			input(type="text",name="lastname")
			br
			| Share Type
			br
			input(type="checkbox",name="share",value="Vegetable")
			| Vegetable Share
			br
			input(type="submit",value="Place Order")